// colors
$color-primary: #fff;
$color-secondary-dark: hsl(205, 86%, 59%);
$color-secondary-light: hsl(196, 70%, 58%);
$color-accent: hsl(143, 58%, 88%);
$color-black: #000;
$color-gray: hsl(0, 1%, 45%);

// transition
$transition: all 0.4s ease;
